#div1{
    background-color: black;
    height: 200px;
    width: 1335px;
}

#div2{
    background-color: red;
    height: 200px;
    width: 1335px;
}

#div3{
    background-color:yellow;
    height: 200px;
    width: 1335px;
}